# Toronto Bike Share Analysis

In [32]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine
import psycopg
import plotly.express as px

# Load Environment Variables
load_dotenv()
if os.environ['ENV_FLG']: print('Environment variables loaded properly.')
else: print('ERROR: Environment variables failed to load.')

Environment variables loaded properly.

In [11]:
def query_db(query):
    # Execute query on PostgreSQL database and return a pandas dataframe
    db_name = os.environ['DB_NAME']
    db_user = os.environ['DB_USER']
    db_pass = os.environ['DB_PASS']
    db_host = os.environ['DB_HOST']
    db_port = os.environ['DB_PORT']

    engine = create_engine(f'postgresql://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}')
    data_frame = pd.read_sql_query(query, engine)
    return data_frame

In [12]:
data = query_db('select * from bike_trips;')

In [13]:
columns = ['trip_id','trip_duration','start_station_id','start_time','end_station_id','end_time','user_type']
X = data[columns]
X.head()

,trip_id,trip_duration,start_station_id,start_time,end_station_id,end_time,user_type
0,14805109,4335,7334,2022-01-01 00:02:00,7269.0,2022-01-01 01:15:00,Casual Member
1,14805110,126,7443,2022-01-01 00:02:00,7270.0,2022-01-01 00:05:00,Annual Member
2,14805112,942,7399,2022-01-01 00:04:00,7686.0,2022-01-01 00:19:00,Annual Member
3,14805113,4256,7334,2022-01-01 00:04:00,7269.0,2022-01-01 01:15:00,Casual Member
4,14805114,4353,7334,2022-01-01 00:05:00,7038.0,2022-01-01 01:17:00,Casual Member

In [17]:
missing_val_count_by_column = (X.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

end_station_id    4318
dtype: int64

## Descriptive Analysis
- Total trips (2022-2024)
- Users per month (2022-2024)
    - Graph 

## Winter Question
- How much does usage decrease in winter?

In [16]:
print(f'Total Trips (01-2022 to 09-2024): {len(X):,}')

Total Trips (01-2022 to 09-2024): 15,675,998

In [ ]:
fig = px.histogram(X, x="start_time", y="trip_id", histfunc="count")
fig.update_traces(xbins_size="M1")

fig.show()